language: php

php:
  - 5.3
  - 5.4
  - 5.5
  
env:
  - DB=mysql

before_script:
  - composer install --dev --no-progress
  - sh -c "if [ '$DB' = 'mysql' ] || [ '$DB' = 'mysqli' ] || [ '$DB' = 'pdo/mysql' ]; then mysql -e 'create database IF NOT EXISTS stumgr_test;'; fi"

script: phpunit --coverage-text --configuration tests/travis/$DB.phpunit.xml
